PORT=3000
HOST=0.0.0.0
PUBLIC_BASE_URL=http://anonymous-feedback-fghjfghjfghsdfg-grlpi-b3c6cc-31-97-103-251.sslip.io
PUBLIC_PATH=/f/a67e5d75c0faac74070b5b62
ADMIN_PATH=/r/7dcd8ee0cf3f015179b88871
ADMIN_TOKEN=cb373fb438bd2ab80b9041b6422eb72811ab6e09e233b996942bb92687e65e3a
LOG_PUBLIC_URL=true
LOG_ADMIN_URL=false
DB_PATH=/app/data/feedback.sqlite
ENABLE_HEALTHCHECK=false
ENABLE_DEBUG_ROUTES=false